.gallery_section{
    .gallery_image {
        width: 100%;
        img {
            width: 100%;
            height: auto;
            max-width: 100%;
            object-fit: contain;
        }
    }
}