.projects_section {
    background-color: $bg-color-3;
    padding-bottom: 50px;

    .categories_wrapper {
        width: 100%;
        @include row-justify-start;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;

        .category_link {
            padding: 6px 0;
            border-bottom: 2px solid transparent;
            color: #000;
            font-size: 14px;
            font-family: $secondary-color;
            font-weight: 600;

            &.active {
                border-bottom-color: $primary-color;
            }
        }
    }

    .project_card {
        width: 100%;
        position: relative;
        box-shadow: 0 0 10px $black-1;

        .project_image {
            width: 100%;
            position: relative;

            img {
                width: 100%;
                height: auto !important;
                object-fit: contain;
            }

            .category_badge {
                padding: 20px;
                background-color: #f7db60;
                color: #000;
                font-size: 12px;
                font-family: $secondary-font;
                text-transform: uppercase;
                letter-spacing: 1px;
                @include row-center;
                text-align: center;
                font-weight: 600;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .card_content {
            width: 100%;
            padding: 30px;
            background-color: #fff;
            @include column-align-start;
            gap: 25px;

            @media (min-width: 768px) {
                padding: 40px;
            }

            .project_title {
                a {
                    color: #000;
                    display: inline;
                    position: relative;
                    background: linear-gradient(to right, #000 0%, #000 100%);
                    background-size: 0 2px;
                    background-position: 0 99%;
                    padding: .1% 0;
                    background-repeat: no-repeat;
                    transition: all 0.3s;
                    font-family: $primary-font;
                }

                &:hover {
                    a {
                        background-size: 100% 2px;
                    }
                }
            }

            .project_text {
                color: $text-color-2 !important;
                font-family: $secondary-font;
                font-size: 17px;
                line-height: 2.2rem;
                *{
                    color: $text-color-2 !important;
                }

                @media (min-width: 768px) {
                    font-size: 19px;
                }
            }

            .project_parameters {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                gap: 15px;
                padding: 30px 0;
                border-top: 1px solid $black-1;

                @media (min-width: 576px) {
                    grid-template-columns: 1fr 1fr;
                }

                .param_col {
                    width: 100%;
                    @include row-start;
                    gap: 10px;

                    .param_icon {
                        font-size: 22px;
                        color: #C9C9C9;
                    }

                    .param_content {
                        @include column-align-start;
                        // gap: 5px;
                        font-size: 14px;

                        .param_title {
                            font-weight: 500;
                            font-family: $primary-font;
                        }

                        .param_value {
                            font-family: $secondary-font;
                        }
                    }
                }
            }

            .detail_button {
                padding: 20px;
                min-height: 55px;
                background-color: $primary-color;
                color: #fff;
                @include row-center;
                gap: 5px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;

                &:active {
                    background-color: $secondary-color;
                }
            }
        }
    }
}

.project_inner_section {
    background-color: $bg-color-3;
    padding-bottom: 50px;

    .project_row {
        width: 100%;
        @include column-center;
        gap: 40px;

        .project_col {
            width: 100%;

            &.left_col {
                @media (min-width: 768px) {
                    max-width: 360px;
                }
            }
        }

        @media (min-width: 768px) {
            @include row-between;
            align-items: stretch;
        }
    }

    .project_parameters {
        width: 100%;
        @include column-align-start;

        background-color: #fff;
        box-shadow: 0 0 10px $black-1;

        .param_col {
            width: 100%;
            @include row-start;
            gap: 20px;
            padding: 30px;
            border-bottom: 1px solid $black-1;

            &:last-child {
                border-bottom: none;
            }

            .param_icon {
                font-size: 26px;
                color: #C9C9C9;
            }

            .param_content {
                @include column-align-start;
                font-size: 14px;

                .param_title {
                    font-weight: 600;
                    font-family: $primary-font;
                }

                .param_value {
                    font-family: $secondary-font;
                }
            }
        }
    }

    .project_content {
        width: 100%;
        // @include column-align-start;
        // gap: 30px;
    }

    .project_text {
        width: 100%;
        color: $text-color-2;
        font-family: $secondary-font;
        margin-bottom: 40px;

        ul {
            padding-left: 30px;
        }
    }

    .gallery_image {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            max-width: 100%;
            object-fit: contain;
        }
    }
}